/*------------------------------------------------------------------
@group Tooltips
------------------------------------------------------------------*/
#kd-tooltip {
	display: block;
	position: absolute;
	background: #2d2d2d;
	top: -5px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	outline: 1px solid rgba(255,255,255,0.5);
	height: 29px;
	line-height: 29px;
	margin-left: -20px;
	padding: 0 10px;
	font-size: 11px;
	z-index: 2000;
	opacity: 0.0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity 0.13s;
	-moz-transition: opacity 0.13s;
	-o-transition: opacity 0.13s;
	transition: opacity 0.13s;
}
#kd-tooltip .pointer {
	outline: none;
	display: block;
	position: absolute;
	top: -5px;
	left: 24px;
	margin: 0 0 0 -5px;
	width: 0;
	height: 0;
	line-height: 0px;
	font-size: 0px;
	/* This sets the tooptip pointer color */
	border-top: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #2d2d2d;
}
#kd-tooltip.visible {
	opacity: 1.0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);@import url(http://fonts.googleapis.com/css?family=Open+Sans:light,regular,600&subset=cyrillic,latin);*/
/*------------------------------------------------------------------
eric meyer's reset
------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol,ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption,th,td {
	text-align: left;
	font-weight: normal;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: "";
}
blockquote,q {
	quotes: "" "";
}
input::-moz-focus-inner {
	border: 0;
}
/*------------------------------------------------------------------
end reset
------------------------------------------------------------------*/
/*------------------------------------------------------------------
@global Type
------------------------------------------------------------------*/
body,body input,body button,body td {
	font-family: /*"Open Sans",*/"Arial", "Helvetica", sans-serif;
	color: #222;
	font-size:13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1,h2,h3,h4,h5 {
	font-size: 16px;
	line-height:24px;
	font-weight: normal;
	color: #222;
}
p {
	margin: 0 0 1em;
	font-size: 13px;
	line-height: 18px;
}
p.nonLatin {
	font-size: 14px;
	line-height: 21px;
}
li {
	line-height: 17px;
}
a {
	text-decoration: none;
	color: #15c;
	cursor: pointer;
}
a:visited {
	color: #61c;
}
a:active {
	color: #d14836;
}
a.secondary {
	text-decoration: none;
	color: #2D9AE3;
}
iframe {
	border: 0px;
}
strong {
	color: #222;
	font-weight:bold;
}
em {
	font-style: italic;
}
/*------------------------------------------------------------------
@stickersheet
------------------------------------------------------------------*/
#stickersheet #siteTitle {
	padding: 30px 40px;
}
/*h1.bigSectionHead {
	padding: 16px 0;
	font-size: 24px;
	font-weight: 600;
}*/
#stickers > ul > li {
	padding: 30px 0;
	border-bottom: 1px solid #DDD;
	position: relative;
}
.componentName {
	display: block;
	height: 29px;
	float: none;
	font-size: 20px;
	line-height: 24px;
	color: #DD4B39;
	margin-bottom: 21px;
	margin-left: 0px;
	margin-right: 0px;
}
#stickersheet h2.componentName {
	float: left;
}
#stickersheet h2.componentName a {
	color: #DD4B39;
}
#stickers > ul {
	margin: 0 44px;
}
/*stickersheet specific positioning*/
.kd-modaldialog.demo,
.kd-settings.demo {
	position: relative;
	top: 0;
	left: 0;
	margin-left: 0;
	-webkit-transform: scale(1.0);
	z-index: 0;
}
#stickers #kd-tooltip {
	top: 75px;
	margin-left: 0;
}
#wrap {
	overflow: auto;
	height: 100%;
}
#stickers > ul > li ol {
	margin: 5px 10px;
}
#stickers > ul > li ol li {
	margin-bottom: 5px;
}
#stickers .kd-buttonbar {
	margin-bottom: 16px;
}
#modaldemo {
	display: none;
}
/*------------------------------------------------------------------
@styleguide
------------------------------------------------------------------*/
.styleguide {
	padding: 0 44px 44px;
}
.styleguide .section {
	position:relative;
	padding: 44px 0;
	height: 100%;
	overflow:visible;
	border-bottom: 1px solid #ebebeb;
}
.styleguide .section.clearfix {
	overflow:hidden;
}
.styleguide .section .section {
	padding: 16px 0;
	border-bottom: 0;
}
.styleguide .section h3 {
/*	margin: 16px 0;*/
}
#styleGuideNav {
	width:156px;
	position:fixed;
	left:0;
	top:28px;
}
#styleGuideNav li li a{
	width:144px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/*------------------------------------------------------------------
grid
------------------------------------------------------------------*/
#grid {
	border-left: 44px solid rgba(255,255,0,0.1);
	border-right: 44px solid rgba(255,255,0,0.1);
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	-webkit-box-sizing: content-box;
	overflow: hidden;
	-webkit-transition: all 0.218s;
}
html.x-expand #grid {
	border-left: 72px solid rgba(255,255,0,0.05);
	border-right: 72px solid rgba(255,255,0,0.05);
}
.gridline {
	width: 72px;
	height: 117px;
	background-color: rgba(0,0,127,0.04);
	border-left: 28px solid rgba(0,0,127,0.01);
	border-right: 28px solid rgba(0,0,127,0.01);
	margin-right: 16px;
	float: left;
	-webkit-box-sizing: border-box;
}
.gridline-right {
	float: right;
	margin-right: 0;
	margin-left: 16px;
}
.gridfill {
	background: red;
}

/*------------------------------------------------------------------
Type Section
------------------------------------------------------------------*/
.option {
	float: left;
	width: 336px;
	margin-right: 16px;
}
.option .componentName {
	margin-bottom: 0;
}
/*results*/
.kd-result {
	width: 480px;
	padding: 16px;
	margin: 16px 0;
}
.kd-result:hover {
	background: #f2f2f2;
}
.kd-resultstitle {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	margin: 0;
	color: #4D90F0;
}
.kd-resultstitle a {
	color: #15c;
}
.kd-resultstitle strong {
	font-weight: 900;
	color: #15c;
}
.kd-resultsource {
	color: #093;
}
.resultsection {
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid #ebebeb;
}

.sectionTitle {
	float: left;
	width: 160px;
	margin-right: 16px;
	clear: left;
	margin-bottom: 16px;
}
.sectionContent {
	float: left;
	clear: right;
	margin-bottom: 16px;
}
.productName{
	font-size: 20px;
	line-height: 24px;
	color: #DD4B39;
}
.title{
	color:#1155CC;
	font-weight:bold;
}
.greytext{
	color:#555555;
}
.bodylink{
	color:#155CCC;
}
.visitedlink{
	color:#6611CC;
}
.redlink{
	color:#D14836;
}
.secondary{
	font-size:11px;
	color:#666666;
}
.secondary.nonLatin{
	font-size:12px;
	color:#666666;
}
.source{
	color:#009933;
}

#typography p {
	line-height: 170%;
	margin-bottom: 0;
}

/*------------------------------------------------------------------
Horizontal Rules
------------------------------------------------------------------*/
.whiteBox,.greyBox {
	padding: 16px 0;
	margin-bottom: 16px;
}
.greyBox {
	background: #f1f1f1;
}
.kd-ruledBox {
	width: 100%;
}
.kd-greyRuled {
	border-top: 1px solid #e5e5e5;
}
.kd-whiteRuled {
	border-top: 1px solid #ebebeb;
}
/*------------------------------------------------------------------
Sidebars
------------------------------------------------------------------*/
#styleguide #sidebars {
	overflow: visible;
	height: 544px;
}
.sidebarHolder {
	width: 220px;
	float: left;
/*	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;*/
}
.sidebarHolder h4 {
	padding: 16px 0;
}

.kd-content-sidebar {
	width:160px;
	padding:16px 0px 16px 44px;
	border-left:1px solid #ebebeb;
}
.kd-content-sidebar li {
	position:relative;
	margin-left: -16px;
	border-bottom:1px solid transparent;
}
.kd-content-sidebar li a {
	display: block;
	line-height: 29px;
	color: #333;
	font-size: 13px;
	cursor:default;
}

.kd-content-sidebar .kd-zippy .row a {
	margin-left: 16px;
}
.kd-content-sidebar li
.kd-content-sidebar ul ul{
	margin-left:28px;
}
.kd-content-sidebar ul ul li,
.kd-content-sidebar ul ul li a{
	line-height:19px;
}
.kd-content-sidebar ul ul li a{
	padding-left: 12px;
	margin-left: 32px;
}
.kd-content-sidebar ul ul li .kd-disclosureindicator{
	top:0;
	height:19px;
}
.kd-content-sidebar ul ul li:hover .kd-disclosureindicator{
/*	height:16px;*/
}
.kd-content-sidebar li.selected .kd-disclosureindicator,
.kd-disclosureindicator.down {
/*	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
	background-image:url('../images/disclosure_arrow_dk_grey_down.png');
}

.kd-content-sidebar li .kd-disclosureindicator {
	position: relative;
	display: block;
	float: left;
	width:17px;
	height:29px;
	background-position:center;
	margin-left:-1px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	cursor:default;
}
.kd-content-sidebar li:hover > .kd-disclosureindicator {
	opacity: 1.0;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.kd-content-sidebar ul > li > a {
	padding-left: 16px;
}

.kd-content-sidebar ul > li > a:hover {
	background-color: #eee;
}

.kd-content-sidebar ul > li.kd-labellistitem > a {
	padding-left: 34px;
}

.kd-content-sidebar span.row {
	display: block;	
}

.kd-content-sidebar span.row.split:hover {
	background-color: transparent;
}

.kd-content-sidebar span.row:hover,
.kd-content-sidebar .kd-zippycontent li a:hover,
.kd-content-sidebar span.row.split a:hover,
.kd-content-sidebar span.row.split .kd-disclosureindicator:hover {
	background-color: #eee;
	color: #222;
}

.kd-content-sidebar .kd-zippy span.row:hover .kd-disclosureindicator,
.kd-content-sidebar .kd-zippy span.row.split .kd-disclosureindicator:hover {
	opacity: 1.0;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.kd-content-sidebar li.selected a {
	color: #d14836;
}
ul.iconlist li a {
	padding-left: 44px;
}
ul.iconlist li a, li.kd-labellistitem a {
	background-position: 13px 50%;
	background-repeat: no-repeat;
}
.kd-menulabel{
	position:absolute;
	height:11px;
	width:11px;
	top:11px;
	right:11px;
	cursor:default;
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
}
.kd-menulabel.red{
	background:#DD4B39;
}
.kd-menulabel.grey{
	background:#999999;	
}
.kd-menulabel.blue{
	background:#4D90F0;
}
.kd-flyouttrigger.clear{
	border:1px solid #e5e5e5;
	background:url('../images/disclosure_arrow_lt_grey_down.png') center no-repeat;
}
.kd-flyouttrigger.clear:hover, .kd-flyouttrigger.clear.selected{
	border-color:#c6c6c6;
	background:url('../images/disclosure_arrow_dk_grey_down.png') center no-repeat #EEE;
}
.kd-flyouttrigger:hover, .kd-flyouttrigger.selected{
	background-image:url('../images/disclosure_arrow_down_white.png');
	background-position:center;
	background-repeat:no-repeat;
}

.kd-flyouttrigger .kd-menulist{
	position:absolute;
	display:none;
	left:0px;
	top:100%;
	z-index:3;
}
.kd-content-sidebar .kd-menulist li{
	margin-left:0;
}
.kd-flyouttrigger.selected .kd-menulist{
	display:block;
}
.kd-flyouttrigger.selected .kd-menulist.clip{
	overflow-y:auto;
}

.kd-content-sidebar .selected .kd-disclosureindicator {
	background-image: url('../images/disclosure_arrow_orange_rt.png');
}

/*Search*/
ul.iconlist li a.everything {
	background-image: url('../images/icons/corpus-search-active.png');
}
ul.iconlist li a.images {
	background-image: url('../images/icons/corpus-images.png');
}
ul.iconlist li a.places {
	background-image: url('../images/icons/corpus-places.png');
}
ul.iconlist li a.videos {
	background-image: url('../images/icons/corpus-videos.png');
}
ul.iconlist li a.news {
	background-image: url('../images/icons/corpus-news.png');
}
ul.iconlist li a.shopping {
	background-image: url('../images/icons/corpus-shopping.png');
}
ul.iconlist li a.more {
	background-image: url('../images/icons/corpus-more.png');
}
/*Gmail*/
li.kd-labellistitem a.kd-label-red {
	background-image: url('../images/icons/label_red.png');
}
li.kd-labellistitem a.kd-label-grey {
	background-image: url('../images/icons/label_grey.png');
}
li.kd-labellistitem a.kd-label-blue {
	background-image: url('../images/icons/label_blue.png');
}
.kd-button.compose {
	width: 97px;
}
/*Misc*/
.kd-drawertrigger {
	border-bottom: 1px solid #ebebeb;
}
li.kd-labellistitem a.kd-indicator-red {
	background-image: url('../images/icons/indicator_red.png');
}
li.kd-labellistitem a.kd-indicator-green {
	background-image: url('../images/icons/indicator_green.png');
}
li.kd-labellistitem a.kd-indicator-blue {
	background-image: url('../images/icons/indicator_blue.png');
}
/*------------------------------------------------------------------
App bars
------------------------------------------------------------------*/
.kd-appbar .kd-appname {
	width: 160px;
	margin-right: 16px;
	margin-left: 44px;
	height: 29px;
	float: left;
	font-size: 20px;
	font-weight: normal;
	line-height: 29px;
	color: #DD4B39;
	white-space:nowrap;
}
.kd-appbar {
	position:relative;
	padding: 21px 0;
	border-bottom: 1px solid #ebebeb;
	height: 29px;
	z-index:20;
	background:#fff;
}
#stickers .kd-appbar .kd-buttonbar {
	margin-bottom: 0;
}
.kd-buttonbar{
	height:29px;
}
.kd-buttonbar.right {
	float: right;
	margin-right: 44px;
}
.kd-buttonbar.left {
	float: left;
}
.kd-buttonbar span.kd-count, .kd-buttonbar span.kd-count strong {
	line-height: 29px;
	color: #666;
}
.kd-buttonbar.right span.kd-count {
	float: left;
}
.kd-buttonbar.left span.kd-count {
	float: right;
	margin-left: 16px;
}
#styleguide .section .kd-appbar h4 {
	margin-bottom: 16px;
}

.kd-appbar.mobile{
	width:310px;
}
.kd-appbar.mobile .kd-appname{
	width:auto;
	margin-left:16px;
}
.kd-appbar.mobile .kd-buttonbar.right{
	margin-right:16px;
}
.kd-appbar.mobile .kd-button-red img, .kd-appbar.mobile .kd-button-share img, .kd-appbar.mobile .kd-button-submit img{
	opacity:1;
}
.kd-appbar.mobile .cancel-button{
	display:inline-block;
	height:27px;
	width:34px;
	line-height:27px;
	padding:4px 0;
	text-align:center;
	margin-left:6px;
	margin-right:-6px;
	cursor: default;
}
.kd-appbar.mobile .cancel-button img{
	opacity:.667;
}


/*------------------------------------------------------------------
@group Disclosure indicator
------------------------------------------------------------------*/
.kd-disclosureindicator {
	display: inline-block;
	width: 5px;
	height: 7px;
	background: url('../images/disclosure_arrow_dk_grey.png') center no-repeat;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	transition: all 0.218s;
}
.kd-disclosureindicator.active {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}


/*------------------------------------------------------------------
@group Forms
------------------------------------------------------------------*/
input[type=text] {
	height: 29px;
	background-color: #FFF;
	line-height: 27px;
	padding-left: 8px;
	color: #333;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
}
input[type=text]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
input[type=text]:focus {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid #4d90fe;
}
/*------------------------------------------------------------------
@group Buttons
------------------------------------------------------------------*/
.kd-button {
	display: inline-block;
	min-width: 54px;*min-width:70px;/*hello,IE7!*/
	border:1px solid #DCDCDC;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
}
.kd-button:hover, .kd-button.hover {
	border: 1px solid #C6C6C6;
	color: #222;
	-webkit-transition: all 0.0s;
	-moz-transition: all 0.0s;
	-o-transition: all 0.0s;
	transition: all 0.0s;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.kd-button:active, .kd-button.active {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.kd-button.active{
	border: 1px solid #C6C6C6;
	color: #333;	
}

.kd-button:visited {
	color: #666;
}
.kd-button.focus, .kd-button.right.focus, .kd-button.mid.focus, .kd-button.left.focus{
	outline: none;
	border: 1px solid #4d90fe;
	z-index:4 !important;
}

.kd-button.selected {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#E0E0E0));
	background-image: -webkit-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -moz-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -ms-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: -o-linear-gradient(top,#EEEEEE,#E0E0E0);
	background-image: linear-gradient(top,#EEEEEE,#E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	border: 1px solid #CCC;
	color: #333;
}
.kd-button input[type=checkbox] {
	position: relative;
	top: 3px;
}

.kd-button img {
	display: inline-block;
	margin: -3px 0 0;
	opacity: 0.55;
	*margin:4px 0 0; /*IE7*/
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; //IE CANNOT HANDLE OPACITY ON PNGS, SO WE ARE JUST GONNA REMOVE THESE FILTERS
	filter: alpha(opacity=80);*/
	
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: middle;
}

.kd-button.selected img {
	opacity: 0.9;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);*/
}
.kd-button:hover img {
	opacity: 0.72;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);*/
}
.kd-button:active img {
	opacity: 1.0;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);*/
}
/*disabled buttons*/
.kd-button.disabled, .kd-button.disabled:hover, .kd-button.disabled:active {
	background: #FFF;
	color: #b8b8b8;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	cursor: default;
	pointer-events: none;
}
.kd-button.disabled.active{
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.kd-button-submit.disabled, .kd-button-submit.disabled:hover, .kd-button-submit.disabled:active {
	border: 1px solid #3079ed;
	background-color: #4d90fe;
	color: #FFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.kd-button-share.disabled, .kd-button-share.disabled:hover, .kd-button-share.disabled:active {
	border: 1px solid #29691d;
	background-color: #3d9400;
	color: #FFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.kd-button-red.disabled, .kd-button-red.disabled:hover, .kd-button-red.disabled:active {
	border: 1px solid transparent;
	background-color: #d14836;
	color: #FFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.kd-button.disabled img {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}


/* @group Colored Buttons */


.kd-button-submit:focus, .kd-button-submit.focus,
.kd-button-share:focus, .kd-button-share.focus,
.kd-button-red:focus, .kd-button-red.focus{
	box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
}
.kd-button-share:focus, .kd-button-share.focus{
	border-color:#29691d;
}
.kd-button-red:focus, .kd-button-red.focus{
	border-color:#d14836;
}

.kd-button-submit:focus:hover, .kd-button-submit.focus:hover,
.kd-button-share:focus:hover, .kd-button-share.focus:hover,
.kd-button-red:focus:hover, .kd-button-red.focus:hover{
	box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
}

.kd-button-submit {
	border: 1px solid #3079ed;
	color: #FFF;
	background-color: #4d90fe;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}
.kd-button-submit:hover {
	border: 1px solid #2f5bb7;
	color: #FFF;
	background-color: #357ae8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}
.kd-button-submit:active, .kd-button-submit:focus:active, .kd-button-submit.focus:active {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.kd-button-share {
	color: #FFF;
	text-shadow: 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #29691d;
	background-color: #3d9400;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#398a00));
	background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
	background-image: -moz-linear-gradient(top,#3d9400,#398a00);
	background-image: -ms-linear-gradient(top,#3d9400,#398a00);
	background-image: -o-linear-gradient(top,#3d9400,#398a00);
	background-image: linear-gradient(top,#3d9400,#398a00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#398a00');
}
.kd-button-share:hover {
	border: 1px solid #2D6200;
	color: #FFF;
	text-shadow: 0px 1px rgba(0,0,0,0.3);
	background-color: #368200;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#368200));
	background-image: -webkit-linear-gradient(top,#3d9400,#368200);
	background-image: -moz-linear-gradient(top,#3d9400,#368200);
	background-image: -ms-linear-gradient(top,#3d9400,#368200);
	background-image: -o-linear-gradient(top,#3d9400,#368200);
	background-image: linear-gradient(top,#3d9400,#368200);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#368200');
}
.kd-button-share:active, .kd-button-share:focus:active, .kd-button-share.focus:active {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.kd-button-red {
	margin-bottom: 16px;
	border: 1px solid transparent;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing:1;
	background-color: #d14836;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
	text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.kd-button-red:hover {
	border: 1px solid #b0281a;
	border-bottom: 1px solid #AF301F;
	color: #FFF;
	background-color: #c53727;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: linear-gradient(top,#dd4b39,#c53727);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.kd-button-red:active,
.kd-button-red:focus:active,
.kd-button-red.focus:active {
	border: 1px solid #992A1B;
	background-color: #b0281a;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
	background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
	background-image: linear-gradient(top,#dd4b39,#b0281a);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.kd-button-red:visited,
.kd-button-share:visited,
.kd-button-submit:visited {
	color: #FFF;
}


.kd-button.kd-button-red img {
	opacity: 0.9;
}
.kd-button.kd-button-red.selected img {
	opacity: 0.9;
}
.kd-button.kd-button-red:hover img {
	opacity: 0.9;
}
.kd-button.kd-button-red:active img {
	opacity: 1.0;
}




/*------------------------------------------------------------------
@group ButtonBar
------------------------------------------------------------------*/

.kd-buttonbar .kd-button,
.kd-buttonbar .kd-combobutton,
.kd-buttonbar .kd-expandbutton {
	float: left;
	margin: 0;
	margin-left: 16px;
	position: relative;
	z-index: 1;
}
.left + .kd-combobutton{
	margin-left:0;
}

.kd-buttonbar .kd-button:hover {
	z-index: 2;
}
.kd-buttonbar .kd-button:first-child,
.kd-buttonbar .kd-combobutton:first-child,
.kd-buttonbar .kd-expandbutton:first-child {
	margin-left: 0;
}
.kd-button.small {
	min-width: 34px;
	width: 34px;
	padding: 0;
}

.kd-combobutton .kd-button-red.small {
	margin: 0 0 0 1px;
}

.kd-button.mini{
	height:17px;
	line-height:17px;
	min-width:0;
}
input.mini{
	height:17px;
	line-height:17px;
	display:inline-block;
	padding:0 2px;
	-webkit-box-sizing:content-box;
	font-size:11px;
}
.kd-button.left {
	border-right-color: transparent;
	margin-right: 0;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}
.kd-button.left:hover {
	border-right: 1px solid #c6c6c6;
}
.kd-button.mid {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-left:0;
	margin-right:0;
}
.kd-button.mid + .kd-button.mid, .kd-button.left + .kd-button.mid{
	margin-left: -1px;
}
.kd-button.right {
	margin-left: 0;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	margin-left:-1px;
}

.kd-button.right:hover {
	border-left: 1px solid #c6c6c6;
}
.kd-segmentedcontrol{
	float:left;
	margin-left:16px;
}
.kd-segmentedcontrol:first-child{
	margin-left:0;
}


.kd-button.left.kd-button-red:hover {
	border-right: 1px solid transparent;
}
.kd-button.right.kd-button-red:hover {
	border-left: 1px solid transparent;
}

/*------------------------------------------------------------------
@group tab buttons
------------------------------------------------------------------*/

#stickersheet .kd-tabbar-horz {
	margin-bottom: 40px;
}

.kd-tabbar-horz {
	border-bottom: 1px solid #ccc;
	height: 28px;
}

.kd-tabbar-vert {
	border-right: 1px solid #ccc;
	display: inline-block;
	width: 71px;
	height: 100%;
}

.kd-tabbutton {
	display: inline-block;
	min-width: 54px;*min-width:70px;/*hello,IE7!*/
	text-align: center;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
	
	border: 1px solid transparent;
}

.kd-tabbutton:hover {
	color: #222;
}

.kd-tabbutton:active {
	color: #333;
}

.kd-tabbutton.selected {
	color: #202020;
	border: 1px solid #ccc;
}

.kd-tabbar-horz .kd-tabbutton {
	-webkit-border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.kd-tabbar-vert .kd-tabbutton {
	-webkit-border-top-left-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.kd-tabbar-horz .kd-tabbutton.selected {
	border-bottom: 1px solid #fff;
	
}

.kd-tabbar-vert .kd-tabbutton.selected {
	border-right: 1px solid #fff;
}

/*------------------------------------------------------------------
@group MenuButton
------------------------------------------------------------------*/
.kd-menubutton {
	position: relative;
}
.kd-menubutton .kd-disclosureindicator {
	float: right;
	margin-top: 10px;
	margin-left: 7px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	opacity: .8;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	
/*	ie hacks*/
	*float:none;
	*position:relative;
	*top:-3px;
	margin-top:12px\0/;
}
.kd-select .kd-disclosureindicator{
	background:url('../images/disclosure_arrow_dk_grey_up_down.png');
	width:7px;
	height:11px;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin-top:8px;
}

.kd-menubutton.small img {
	margin-left: -8px;
}
.kd-menubutton.small .kd-disclosureindicator {
	position: absolute;
	margin: 10px 0;
	right: 4px;
}
.kd-menubutton .kd-menulist .kd-disclosureindicator {
	float: none;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	opacity: .8;
}
.kd-menubutton img + .label{
	margin-left:5px;
}

.kd-menubutton img {
	display: inline-block;
}
.kd-menubutton:hover .kd-disclosureindicator {
	border-left-color: #999;
	opacity: 1;
}
.kd-menubutton span.label {
	display: inline-block;
}
.kd-combobutton .kd-menubutton:first-child {
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}
.kd-combobutton .kd-menutrigger {
	margin-left: -1px;
	border-left-color: transparent;
	padding: 0 8px 0 2px;
	min-width: 0;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	z-index: 0;
}
.kd-combobutton .kd-menutrigger:hover {
	border-left-color: #c6c6c6;
}

.kd-expandbutton {
	display: inline-block;
	overflow: hidden;
	z-index: 0;
	width: 88px;
	height: 29px;
	position: relative;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	cursor:pointer;
}
.kd-expandbutton:hover {
	width: 210px;
	margin-left: -100px;
}
.kd-expandbutton:hover .expand-options{
	border-color: #e5e5e5;
}
.kd-expandbutton .expand-options {
	display: inline-block;
	background: #f7f7f7;
	border: 1px solid #f0f0f0;
	padding-left: 16px;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	position: absolute;
	left: 0;
	width: 144px;
	font-size:11px;
}
.kd-expandbutton .expand-options span {
	float:left;
	padding: 0 8px;
	line-height: 27px;
	color:#666;
/*	border-left:1px solid transparent;*/
}

.kd-expandbutton .expand-options span:hover, .kd-expandbutton .expand-options span.selected{
	background-color:#e5e5e5;
	color: #222;
}
.kd-expandbutton .expand-options .kd-disclosureindicator {
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: -3px;
	opacity: .5;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	
}
.kd-expandbutton .main {
	z-index: 1;
	position: absolute;
	right: 0;
}
.kd-expandbutton:hover .kd-button.main{
	border: 1px solid #C6C6C6;
	color: #333;
	-webkit-transition: all 0.0s;
	-moz-transition: all 0.0s;
	-o-transition: all 0.0s;
	transition: all 0.0s;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.kd-viewtoggle{
	display:block;
	height:29px;
	position:relative;
}


.kd-viewtoggle .kd-button{
	position:absolute;
	margin:0;
	-webkit-transition: right 0.13s;
	-moz-transition: right 0.13s;
	-o-transition: right 0.13s;
	transition: right 0.13s;
	
	-webkit-transition-delay:0.4s;
	-moz-transition-delay:0.4s;
	-o-transition-delay:0.4s;
	transition-delay:0.4s;
}
.kd-viewtoggle .kd-button.selected{
	z-index:3;
}
.kd-viewtoggle .tab{
	position: absolute;
	top: 0;
	right: 36px;
	display:block;
	height:27px;
	width:16px;
	background: url('../images/disclosure_arrow_lt_grey_left.png') center no-repeat #f7f7f7;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	-webkit-transition: all 0.218s linear 0.4s;
	-moz-transition: all 0.218s linear 0.4s;
	-o-transition: all 0.218s linear 0.4s;
	transition: all 0.218s linear 0.4s;
}
.kd-viewtoggle.wide .tab{
	right:72px;
}
.kd-viewtoggle:hover .kd-button{
	-webkit-transition-delay:0;
	-moz-transition-delay:0;
	-o-transition-delay:0;
	transition-delay:0;
}
.kd-viewtoggle:hover .tab{
	right:0;
}
.kd-viewtoggle .kd-button.selected{
	border-color:#CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


/*------------------------------------------------------------------
@group Modal Dialog
------------------------------------------------------------------*/
#kd-modalshield {
	background: #FFF;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	opacity: 0.0;
	opacity: 0.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	filter: alpha(opacity=00);
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
}
html.x-mobile #kd-modalshield {
	display: none;
}
html.x-mobile #kd-modaldialog {
	display: none;
}
body.strawman #kd-modalshield {
	top: 44px;
}
body.kd-compact #kd-modalshield {
	top: 72px;
}
html.y-expand #kd-modalshield {
	top: 80px;
}
#kd-modalshield.visible {
	opacity: .75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	opacity: .75;
}
.kd-modaldialog.visible {
	opacity: 1.0;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	transform: scale(1.0);
}
.kd-modaldialog {
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	background: white;
	left: 50%;
	outline:1px solid rgba(0,0,0,0.2);/* border:1px solid #CCC;/*THIS IS FOR NON-WEBKIT BROWSERS ONLY - OTHER BROWSERS DO NOT INTERPRET THE OUTLINE STYLE CORRECTLY*/
	padding:30px 42px;
	position: fixed;
	right: auto;
	width: 512px;
	height: auto;
	overflow: hidden;
	z-index: 100;
	top: 72px;
	margin-left: -256px;
	opacity: 0.0;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	transition: all 0.218s;
}
.kd-modaldialog h1 {
	margin-bottom: 1em;
}
.kd-formbuttons{
	margin-top:16px;
}
.kd-formbuttons .kd-button.primary{
	float:left;
	margin-right:16px;
}
.kd-modaldialog .kd-confirmation {
	display: inline-block;
	padding-top: 7px;
}
.kd-modaldialog input[type=checkbox] {
	margin-left: 0;
	margin-right: 6px;
	margin-bottom: -1px;
}
.kd-closebutton {
	width: 44px;
	height: 44px;
	background: url('../images/icons/x.png') center no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	cursor:default;
}
.kd-closebutton:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* ----------------------
settings window
----------------------- */

.kd-settings {
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	background: white;
	left: 50%;
	outline:1px solid rgba(0,0,0,0.2);/* border:1px solid #CCC;/*THIS IS FOR NON-WEBKIT BROWSERS ONLY - OTHER BROWSERS DO NOT INTERPRET THE OUTLINE STYLE CORRECTLY*/
	position: fixed;
	right: auto;
	width: 800px;
	height: auto;
	overflow: hidden;
	z-index: 100;
	top: 72px;
	margin-left: -256px;
	opacity: 0.0;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	transition: all 0.218s;
}
.kd-settings.visible {
	opacity: 1.0;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	transform: scale(1.0);
}
.kd-settings-hd {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	height: 71px;
}
.kd-settings-hd h1 {
	padding-top: 26px;
	padding-left: 42px;
}
.kd-settings-hd .kd-formbuttons {
	float: right;
	padding-right: 26px;
	padding-top: 22px;
	margin: 0;
}
.kd-settings-nav {
	padding: 36px 20px 36px 42px;
	border-right: 1px solid #ebebeb;
	width: 108px;
	float: left;
	overflow: auto;
}
.kd-settings-nav li {
	margin-bottom: 13px;
}
.kd-settings-nav li a {
	display: block;
	color: #333;
	cursor: default;
}
.kd-settings-nav li a:hover {
	color: #111;
}
.kd-settings-nav li a.selected {
	color: #DD4B39;
	font-weight: bold;
}
.kd-settings-content {
	width: 629px;
	margin-left: 171px;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
}
.kd-settings-content .kd-settings-pane {
	display: none;
	padding: 16px 32px;
	height: auto;
	max-height: 400px;
	overflow: auto;
}
.kd-settings-content .kd-settings-pane.selected {
	display: block;
}

.kd-settings-pane-section {
	clear: both;
	border-bottom: 1px solid #ebebeb;
	padding: 20px 0;
	height: 100%;
	overflow: hidden;
}
.kd-settings-pane-section p {
	line-height: 13px;
}
.kd-settings-pane-section .setting-label {
	display: block;
	width: 185px;
	float: left;
	font-weight: bold;
}
.kd-settings-pane-section .setting-label .info {
	font-size: 11px;
	color: #666;
	font-weight: normal;
}
.kd-settings-pane-section .setting {
	margin-left: 210px;
}
.kd-settings-pane-section .kd-button.kd-select {
	float: none;
	margin-left: 0;
	min-width: 0;
	margin-right: 5px;
}

.kd-settings-pane-section .setting input[type=checkbox] {
	margin-right: 5px;
	bottom: -1px;
}

/*------------------------------------------------------------------
butter bar
------------------------------------------------------------------*/
.kd-butterbar {
	position: absolute;
	text-align:center;
	bottom:0;
	padding:0 16px;
	background:#F9EDBE;
	border:1px solid #F0C36D;
	margin-bottom:-15px;
	left:-1000%;
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	margin-left:-190px;
	opacity:0;
	
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	
	-webkit-transform:scale(.2);
	-moz-transform:scale(.2);
	-o-transform:scale(.2);
	transform:scale(.2);
	
	-webkit-transition: opacity 1s, -webkit-transform 0 linear 1s, left 0 linear 1s;
	-moz-transition: opacity 0.130s;
	-o-transition: opacity 0.130s;
	transition: opacity 0.130s;
}
.kd-butterbar.shown{
	opacity:1;
	left:50%;	
	-webkit-transform:scale(1.00);
	
	-webkit-transition: all 0.130s, left 0 linear 0;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
/*	transition: all 0.218s, left 0;*/
}
.kd-butterbar p{
	margin-bottom:0;
	line-height:29px;
	font-size:11px;
}

.kd-butterbar a{
	color:#333;
	text-decoration:underline;
}
.kd-butterbar a:hover{
	color:#202020;
}

.kd-butterbar.mini{
	margin-bottom:-5px;
}
.kd-butterbar.mini p{
	line-height:19px;
}

